Bibliotecas

In [18]:
import pandas as pd
import numpy as np
from sklearn import linear_model as lm

Carregar Base

In [3]:
df_raw = pd.read_csv("kc_house_data.csv")

In [4]:
df_raw.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

Tratamento

In [5]:
x_train = df_raw.drop( ['price', 'date'], axis = 1 )
y_train = df_raw['price'].copy()

Treinamento

In [8]:
#model description
model_lr= lm.LinearRegression()

#model training
model_lr.fit(x_train,y_train)

LinearRegression()

In [9]:
#predict
pred = model_lr.predict(x_train)

In [10]:
pred[0:100]

array([ 205766.26460963,  731219.64982974,  379097.88265425,
        457424.13432523,  444789.054718  , 1451676.800463  ,
        277965.142858  ,  135261.77208376,  329843.81624401,
        250731.25050351,  870212.88141882,  437789.72121288,
        600311.43498105,  316903.13655568,  611557.85739087,
        944453.29692629,  456573.68626286,  539004.69481037,
        335024.25629826,  210585.07434929,  466088.95603633,
       1116489.110787  ,  330386.45026626,  130784.11743749,
        545423.99906274,  310538.26026975,  802018.13764891,
        651875.20382826,  457699.20615302,  650018.4502456 ,
        541202.92170081,  332196.71884785,  655096.04733203,
        555240.33756537,  319817.17474403,  804301.35470879,
        201145.17195349,  861533.54324495,  103130.75983538,
        585745.32147519,  664511.50307337,  742662.60624443,
        863042.3984593 ,  508391.02023427,  153710.08047338,
        811721.66516478,   32096.77784449,  762323.19584882,
        417855.61065259, 1530097.62528251,  185578.71195407,
        658157.9271401 ,  471090.25997119,  498290.25253099,
        789802.28617634,  773293.96241423,  271727.39865371,
        467150.37020318, 1056923.77322493,  443395.18842532,
        694554.24465646,  237766.54435062,  598068.69850032,
        408857.34579783,  376054.00863772,  744927.55137076,
        879888.08105538,  321711.45186209,  121851.74702496,
        783019.32595667, 1399362.50569188,  460538.49633762,
        800124.2924618 ,  390335.05311697,  300689.96053709,
        991726.6923726 ,  413248.7900121 ,  310476.89799584,
        413980.07473527,  802185.4425645 ,  412926.15633972,
        218377.00510934,  449654.5403268 ,  434848.8026979 ,
        261756.27101985,  819846.02518002,  407338.51403959,
        708935.7193132 ,  424310.54489818,  177895.94502958,
        297041.36776149,  958741.14250676,  190018.37500697,
        603396.37010425,  603396.37010425,  795519.96750239,
        354071.72245304,  155387.93358101,  244625.66437794,
        645182.95882839])

Métricas

In [11]:
df1 = df_raw.copy()

In [12]:
df1['prediction'] = pred

In [13]:
df1[['id','price','prediction']].head()

           id     price     prediction
0  7129300520  221900.0  205766.264610
1  6414100192  538000.0  731219.649830
2  5631500400  180000.0  379097.882654
3  2487200875  604000.0  457424.134325
4  1954400510  510000.0  444789.054718

In [32]:
df1['error'] = df1['price'] - df1['prediction']
df1['error_abs'] = np.abs(df1['error'])
df1['error_perce'] = np.abs(df1['error_perce'])

In [28]:
#Average MAE (neab absolute error)
np.mean(df1['error_abs'])

125921.54419398148

In [34]:
#Erro de 25% MAPE (mean absolute percentage error)
np.mean(df1['error_perce'])

0.2558051253618581

In [33]:
df1[['id','price','prediction','error','error_abs','error_perce']].head()

,id,price,prediction,error,error_abs,error_perce
0,7129300520,221900.0,205766.264610,16133.735390,16133.735390,0.072707
1,6414100192,538000.0,731219.649830,-193219.649830,193219.649830,0.359144
2,5631500400,180000.0,379097.882654,-199097.882654,199097.882654,1.106099
3,2487200875,604000.0,457424.134325,146575.865675,146575.865675,0.242675
4,1954400510,510000.0,444789.054718,65210.945282,65210.945282,0.127865